nav {
    background: #000000;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 15px;
    margin: 0;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    border-radius: 4px;
    transition: background 0.2s, color 0.2s;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    
}

nav a:hover, nav a:focus {
    background: #444;
    color: #ffd700;  
} 


